/*///////////////////////*/
/* Default classes start*/
.bg-dark-blue {
    background-color: #263238;
}
.bg-gray {
    background-color: #546e7a;
}
.bg-blue {
    background-color: #42a5f5;
}
.bg-orange {
    background-color: #fcb322;
}
.bg-tician {
    background-color: #ef6c00;
}
.bg-red {
    background-color: #e74c3c;
}
.bg-green {
    background-color: #95c85a;
}
.bg-dark-green {
    background-color: #8bc34a;
}
.bg-white {
    background-color: #fff;
}
.border-grey {
    border: 1px solid #dedede;
}
.ml-auto {
    margin-left: auto;
}
.mr-auto {
    margin-right: auto;
}
.mt-auto {
    margin-top: auto;
}
.mb-auto {
    margin-bottom: auto;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}
.text-center {
    text-align: center;
}
/* --Default classes end--*/
/*///////////////////////////*/
/* Default component start */

/*.default-section {*/
    /*padding: 135px 0;*/
/*}*/

.btn { /* общие стили для всех кнопок */
    display: inline-block;
    text-transform: capitalize;
    font-family: 'Roboto Regular', sans-serif;
    line-height: 1.5rem;
    color: #fff;
}
.btn-header {
    width: 72px;
    padding: 4px 0;
    border-radius: 4px;
    font-size: .75rem;
}
.btn-aside {
    width: 205px;
    padding: 11px 0;
    font-size: .9375rem;
    font-family: 'Roboto Medium', sans-serif;
}
.btn-product-price {
    width: 208px;
    font-size: 1rem;
    padding: 12px 0;
    box-shadow: 0 1px 2px rgba(69, 90, 100, 0.75);
    font-family: 'Roboto Bold', sans-serif;
}
.btn-product {
    width: 158px;
    font-size: 1rem;
    padding: 13px 0;
    font-family: 'Roboto Medium', sans-serif;
}
.breadcrumb {
    padding: 45px 0 36px;
}
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb > li a {
    color: #b0bec5;
    font-size: .9375rem;
}
.breadcrumb > li + li::before {
    content: '-';
    padding: 0 6px;
    color: #8bc34a;
}
.breadcrumb > .active {
    color: #263238;
}
.aside-section {
    padding: 18px 32px 38px 28px;
}
.aside-section + .aside-section {
    margin-top: 30px;
}
.aside-title {
    padding-bottom: 14px;
    border-bottom: 1px solid #dde3e8;
    margin-bottom: 25px;
    font-size: 1.25rem;
    font-family: 'Roboto Bold', sans-serif;
}
.card {
    -webkit-box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
    -moz-box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
    box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
    -webkit-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    transition: all .1s ease-in;
}
.card:hover {
    -webkit-box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
    -moz-box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
    box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
}
.card-img img{
    width: 100%;
}
.card-description {
    padding: 21px 23px;
    border-bottom: 1px solid #e7ecf2;
}
.card-item-info .card-title, .card-item-info .card-category {
    display: block;
    font-family: 'Roboto Medium', sans-serif;
}
.card-item-info .card-title{
    color: #263238;
}
.card-item-info .card-category{
    color: #8bc34a;
    font-size: .875rem;
    line-height: 1.6rem;
}
.card-price {
    color: #263238;
    font-size: 1.25rem;
    font-family: 'Roboto Bold', sans-serif;
}
.card-author-info {
    padding: 16px 20px;
}
.card-author img {
    width: 30px;
    height: 30px;
}
.card-author span {
    color: #546e7a;
    font-family: 'Roboto Medium', sans-serif;
    font-size: .875rem;
    margin-left: 6px;
}
.product-rating li{
    display: inline-block;
    font-size: 0.75rem;
    color: #ffa726;
    line-height: 1.8125rem;
    margin-right: -2px;
}
.product-reviews-count::before {
    content: '(';
    color: #b0bec5;
    margin-right: 2px;
}
.product-reviews-count::after {
    content: ')';
    color: #b0bec5;
    margin-left: 2px;
}
.product-reviews-count {
    font-size: .75rem;
    color: #263238;
    margin-left: 10px;
}
/* Default component end */

/*///////////////////////////*/
/* ---Custom styles start---*/
/*/////////////////////////*/
/******PAGE ALL ITEMS start******/
/*/////////////////////////*/
/*----header start-----*/
.top-header {
    padding-top: 26px;
    padding-bottom: 22px;
    line-height: 1.5rem;
}
.need-help {
    font-family: 'Roboto Regular', sans-serif;
    font-size: .9375rem;
    color: #546e7a;
}
.need-help span:first-child {
    color: #e74c3c;
}
.need-help a {
    color: #546e7a;
}
.user-controls {
    margin-left: 29px;
}
.dropdown-item + .dropdown-item {
    margin-left: 16px;
}
.dropdown-control {
    background-color: #f5f5f5;
    width: 34px;
    height: 34px;
    color: #a0a0a0;
    font-size: .875rem;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.notify-count {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: .6875rem;
    color: #fff;
    top: -8px;
    right: -5px;
    text-align: center;
    line-height: 1.125rem;
    font-family: 'Open Sans SemiBold', sans-serif;

}
.user-dropdown-control {
    margin-left: 20px;
}
.user-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}
.logout-btn {
    margin-left: 29px;
}
.user-info-wrap {
    margin-left: 15px;
}
.user-info-wrap h6 {
    color: #222;
    font-size: 0.875rem;
    font-family: 'Roboto Medium', sans-serif;
}
.user-info-wrap i {
    color: #707070;
    margin-left: 8px;
}
.user-info-wrap span {
    color: #8bc34a;
    font-size: 0.875rem;
    font-family: 'Roboto Bold', sans-serif;
}
.header-nav {
    font-family: 'Roboto Medium', sans-serif;
    font-size: .875rem;
    line-height: 1.875rem;
}
.header-nav a {
    color: white;
    padding: 15px 0;
    display: inline-block;
}
.header-nav a + a {
    margin-left: 38px;
}
/*---- header end---- */
/* -------------------*/
/* ---inner start ---*/
.inner.small-inner {
    padding-top: 57px;
    padding-bottom: 67px;
    background: url("../img/small-inner-bg.jpg") no-repeat center / cover;
}
.inner-subtitle {
    color: white;
    font-family: 'Roboto Medium', sans-serif;
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-bottom: 16px;

}
.search-wrap {
    max-width: 671px;
    margin: 0 auto;
    position: relative;
}
.search-input {
    width: 100%;
    height: 56px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
    padding-left: 25px;
    padding-right: 50px;
    font-size: 14px;
    color: #90a4ae;
    letter-spacing: 0.05em;
}
.search-input::-webkit-input-placeholder { color: #90a4ae; }
.search-input::-moz-placeholder          { color: #90a4ae; } /* Firefox 19+ */
.search-input:-moz-placeholder           { color: #90a4ae; } /* Firefox 18- */
.search-input:-ms-input-placeholder      { color: #90a4ae; }

.search-input-btn {
    background-color: transparent;
    color: #78909c;
    font-size: 1.25rem;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}
/* --------inner end -------*/
/*/////////////////////////*/
/* ---all-items-wrap -----*/
.all-items-wrap {
    padding-bottom: 110px;
}
.default-chevron-list li + li {
    margin-top: 18px;
}
.default-chevron-list > li i {
    color: #8bc34a;
    font-size: .875rem;
    margin-right: 10px;
}
.default-chevron-list span {
    font-size: .9375rem;
}
.list-text {
    color: #263238;
}
.category-item-count {
    color: #90a4ae;
}
.all-items-wrap .card {
    margin-bottom: 30px;
}
.view-controls {
    padding: 20px;
    margin-bottom: 27px;
}
.view-icon-amount {
    color: #455a64;
    font-size: .875rem;
    margin-right: 8px;
}
.view-controls-sort span {
    color: #707070;
    font-size: .875rem;
}
.view-icon-sort {
    color: #707070;
    font-size: 1.125rem;
    margin-left: 8px;
}
.view-icon-type {
    color: #90a4ae;
    font-size: 1rem;
    margin-left: 13px;
}
.view-icon-type.active-type, .view-icon-amount:hover,
.view-icon-sort:hover, .view-icon-type:hover {
    color: #8bc34a;
}
.page-link {
    display: block;
    transition: all 0.5s ease;
}
.page-item {
    width: 43px;
    height: 38px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    text-align: center;
    line-height: 38px;
    color: #263238;
    font-family: 'Roboto Medium', sans-serif;
    transition: all 0.5s ease;
}
.page-item + .page-item {
    margin-left: 8px;
}
.page-item:hover {
    background-color: #e74c3c;
    color: #fff;
}
/* -----all-items-wrap end -----*/
/* -----aside start -----*/
.aside-section .card {
    box-shadow: none;
    margin-bottom: 27px;
}
.aside-section .card + .card {
    border-top: 1px solid #dde3e8;
    padding-top: 27px;
}
.aside-section .card-title {
    font-family: 'Roboto Bold', sans-serif;
}
.aside-section .card-description {
    padding: 0;
    border-bottom: none;
    margin-top: 16px;
}
.aside-section .card-price {
    font-size: 1rem;
}
.aside-section .card-author-info {
    padding: 10px 0 0;
}
/* -----aside end -----*/
/*/////////////////////////*/
/****** PAGE ALL ITEMS end *****/
/*/////////////////////////*/
/****** PAGE MAIN end *****/
/****** PAGE MAIN end *****/
/*/////////////////////////*/
/****** PAGE PRODUCT DETAILS end *****/
/****** PAGE PRODUCT DETAILS end *****/
/*/////////////////////////*/
/* ---Custom styles end---*/
/*///////////////////////*/












